@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --transition: all 300ms ease-in-out;
}

* {
  padding: 0;
  margin: 12px;
  box-sizing: border-box;
  background-color: #d6caba;
}

html {
  font-size: 12px;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* fonts */
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-manrope {
  font-family: "Manrope", sans-serif;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text {
  opacity: 0.9;
  margin: 2rem 0;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.export {
  font-size: 20px;
  font-weight: 800;
  margin-left: 45%;
}

.export:hover {
  color: rgb(47, 47, 169);
}

.navbar {
  height: 40px;
  display: flex;
}

.navbar .container {
  width: 100%;
}

.title {
  margin: 1.4rem 0;
  font-size: 37px;
  line-height: 1.4;
  color: rgb(47, 47, 180);
}

@media screen and (min-width: 992px) {
  .section-one-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }
}

#about-sc {
  padding: 2px;
}

.cv-form-row-title {
  padding: 0.8rem 1.6rem;
  margin-bottom: 2rem;
}

.cv-form-row-title h3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 2rem;
}
.cv-form-blk {
  margin: 3rem 0;
}
.cv-form-row {
  padding: 3rem 2rem 0 2rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 1rem;
  position: relative;
}
textarea {
  resize: none;
}
.form-elem {
  margin-bottom: 3rem;
  position: relative;
}
.form-label {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: rgb(51, 51, 190);
  margin-bottom: 0.5rem;
}
.form-control {
  border-radius: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  width: 100%;
  outline: 0;
  transition: var(--transition);
}

.form-control:focus {
  border-color: rgba(0, 0, 0, 0.3);
}
.form-text {
  font-size: 12px;
  position: absolute;
  letter-spacing: 0.5px;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
}
.cols-3,
.cols-2 {
  display: grid;
}
.repeater-add-btn {
  width: 25px;
  height: 25px;
  background-color: rgb(51, 51, 190);
  font-size: 1.6rem;

  margin: 1rem 0;
}
.repeater-remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  width: 25px;
  height: 25px;

  background-color: #eeeded;

  font-size: 1.6rem;
}

/* preview section */
.preview-cnt {
  border-radius: 8px;
  display: grid;
  grid-template-columns: 32% auto;
  box-shadow: rgb(14 46 224 / 20%) 0px 8px 24px;
  overflow: hidden;
}

.preview-cnt-l {
  padding: 3rem 3rem 2rem 3rem;
  background-color: #80a094d1;
}
.preview-cnt-r {
  padding: 3rem 3rem 3rem 4rem;
}
.preview-cnt-l .preview-blk:nth-child(1) {
  text-align: center;
}
.preview-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: auto;
}
.preview-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preview-item-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.8rem 0;
  position: relative;
}
.preview-item-name::after {
  position: absolute;
  content: "";
  bottom: -10px;
  width: 50px;
  height: 1.5px;
  background-color: #d6caba;
  left: 50%;
  transform: translateX(-50%);
}
.preview-blk {
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.preview-blk-title h3 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 0.5rem;
}
.preview-blk-title {
  margin-bottom: 1rem;
}
.preview-blk-list .preview-item {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  opacity: 0.95;
}
.preview-cnt-r .preview-blk-title {
  color: rgb(51, 51, 190);
}
.preview-cnt-r .preview-blk-list .preview-item {
  margin-top: 1.8rem;
}

.achievements-items.preview-blk-list .preview-item span:first-child,
.educations-items.preview-blk-list .preview-item span:first-child,
.experiences-items.preview-blk-list .preview-item span:first-child {
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.educations-items.preview-blk-list .preview-item span:nth-child(2),
.experiences-items.preview-blk-list .preview-item span:nth-child(2) {
  font-weight: 600;
  margin-right: 1rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(3),
.experiences-items.preview-blk-list .preview-item span:nth-child(3) {
  font-style: italic;
  margin-right: 1rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(4),
.educations-items.preview-blk-list .preview-item span:nth-child(5),
.experiences-items.preview-blk-list .preview-item span:nth-child(4),
.experiences-items.preview-blk-list .preview-item span:nth-child(5) {
  margin-right: 1rem;
  background-color: #d6caba;
  color: white;
  padding: 0 1rem;
  border-radius: 0.6rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(6),
.experiences-items.preview-blk-list .preview-item span:nth-child(6) {
  font-size: 13.5px;
  display: block;
  opacity: 0.8;
  margin-top: 1rem;
}
.projects-items.preview-blk-list .preview-item span {
  display: block;
}

@media screen and (min-width: 768px) {
  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .cols-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .cv-form-row {
    padding: 3rem 3rem 0rem 3rem;
  }
  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.print-btn-sc {
  margin: 2rem 2rem 2rem 6rem;
}

@media print {
  body * {
    visibility: hidden;
  }

  .non_print_area {
    display: none;
  }

  .print_area,
  .print_area * {
    visibility: visible;
  }

  .print_area {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}

